@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$blue: #83d4ff;
$cyan: #0010a1;

@import "~bulma/sass/utilities/_all";

$family-primary: "Poppins"; 

@import "~bulma";

.hero {
    background: #83d4ff;
}

:root {
    scroll-behavior: smooth;
}

// .page-enter-active, .page-leave-active {
//     transition: opacity .4s ease-in-out;
// }
// .page-enter, .page-leave-to {
//     opacity: 0;
// }