/* .is-primary {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.is-secondary {
    font-family: 'Playfair Display', sans-serif !important;
}

.is-mono {
    font-family: 'Source Code Pro', monospace !important;
}

.is-extra {
    font-family: 'Inter', sans-serif !important;
} */

.is-light {
  font-weight: 400;
}

.is-heavy {
  font-weight: 800;
}

.is-italic {
  font-style: italic;
}

.is-color-primary {
  color: #2b292d;
}

.is-color-blue {
  color: #0010a1;
}

html,
body {
  height: 100%;
}
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Libre+Baskerville:wght@400;700&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import '~bulma/sass/utilities/_all';

$family-primary: 'Inter';
$family-secondary: 'Libre Baskerville';
$family-sans-serif: 'Work Sans';
$family-monospace: 'Source Code Pro';

// Footer
$footer-padding: 3rem 1.5rem 3rem;

// Buttons
$button-background-color: #0010a1;
$button-color: #ffffff;

// Menu
$menu-label-font-size: 1em;
$menu-item-radius: 10px;

// Hero
$hero-body-padding: 0.5rem 0.5rem;

p.menu-label {
  font-family: $family-monospace;
  font-weight: bold;
  color: black;
}

@import '~bulma';

// :root {
//     scroll-behavior: smooth;
// }

// Page transition animation
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
