/* .is-primary {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.is-secondary {
    font-family: 'Playfair Display', sans-serif !important;
}

.is-mono {
    font-family: 'Source Code Pro', monospace !important;
}

.is-extra {
    font-family: 'Inter', sans-serif !important;
} */